<p>
  <strong>Title:</strong>
  <%= @entry.title %>
  <br>
</p>
<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>
<p>
  <strong>Created At:</strong>
  <%= @entry.created_at %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
